<a href="https://colab.research.google.com/github/Milkessa97/Data-science-bootcamp/blob/main/Sec1No8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import seaborn
import pandas
titanic=seaborn.load_dataset('titanic')
missing= titanic.isnull().sum()
print(missing)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64